:import {
  -st-from: "wix-ui-core/dist/src/themes/backoffice/colors.st.css";
  -st-named: R00;
}

.root {
  -st-states: empty, size(enum(small, medium, large));
  box-sizing: border-box;
  position: relative;
  width: 18px;
  height: 18px;
  border-radius: 2px;
  border: 1px solid rgba(87,112,131, 0.3);
  margin-right: 3px;
}

.root:size(large) {
  width: 24px;
  height: 24px;
}

.line {
  -st-states: size(enum(small, medium, large));
  width: 21.5px;
  position: absolute;
  border-bottom: 0.5px solid #D6453D;
  transform: translateY(8.5px)translateX(-4px)rotate(-45deg);
  left: 1.2px;
  top: -1.1px;
}

.line:size(large) {
  width: 30.1px;
  transform: translateY(11.7px)translateX(-6px)rotate(-45deg);
  left: 2.6px;
  top: -1.1px;
}

