:import {
  -st-from: "wix-ui-core/dist/src/themes/backoffice/colors.st.css";
  -st-named: D40,D55;
}

.root {
  position: relative;
  text-align: center;
}
 
.hash {
  -st-states: disabled;
  font-size: 16px;
  padding-left: 6px;
  color: value(D40);
  margin-right: -6px;
}

.hash:disabled {
  color: value(D55);
}


.viewer {
  -st-states: error;
  width: 18px;
  height: 18px;
  border-radius: 2px;
  border: 1px solid value(D55);
  margin-right: 3px;
}

.viewer:error {
  background-image: linear-gradient(135deg, transparent 49%, red 49%, red 53%, transparent 53%); 
}