:import {
  -st-from: "wix-ui-core/dist/src/themes/backoffice/colors.st.css";
  -st-named: D40
}


.root {
  position: relative;
  text-align: center;
}


.hash {
  font-size: 16px;
  padding-left: 12px;
  color: value(D40);
}