.actionsContainer {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  height: 36px;
  position: relative;
}

.hoverSlot {

  > button {
    margin: 0 6px;
    transition-property: background, border;
  }

  &.onHover {
    visibility: hidden;

    tr:hover & {
      visibility: visible;
    }
  }

  &.notOnHover {
    visibility: visible;

    tr:hover & {
      visibility: hidden;
    }
  }
}


// Primary action placeholder
.placeholderIcon {
  display: inline-block;

  tr:hover & {
    display: none;
  }
}

:global(.rtl) {
  tr .actionsContainer .placeholderIcon svg {
    transform: scaleX(-1);
  }
}
