.actionsContainer {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  height: 36px;
  position: relative;
}

.actionsContainer button {
  margin: 0 6px;
  transition-property: background, border;
}

tr .actionsContainer span[data-hover-slot="onHover"],
tr:hover .actionsContainer span[data-hover-slot="notOnHover"] {
  display: none;
}

tr:hover .actionsContainer span[data-hover-slot="onHover"],
tr .actionsContainer span[data-hover-slot="notOnHover"] {
  display: inherit;
}

:global(.rtl) {
  .actionsContainer .placeholderIcon svg {
    transform: scaleX(-1);
  }
}
