@import '../common';
@import '../mixins';

$minimum-modal-margin: 48px;

.container {
  box-shadow: $Shadow40;
  border-radius: 8px;
}

.fullscreen-container {
  height: calc(100% - #{$minimum-modal-margin * 2});
  width: calc(100% - #{$minimum-modal-margin * 2});
  display: flex;
  flex-direction: column;
}

.content {
  flex: 1;

  @include default-scroll-bar;
  overflow-y: auto;
}
