:import {
  -st-from: "wix-ui-backoffice/dist/src/components/Tooltip/Tooltip.st.css";
  -st-default: Tooltip;
  -st-named: tooltipContent;
}

:import {
  -st-from: "./core/EllipsedTooltip.st.css";
  -st-default: CoreEllipsedTooltip;
}

.root {
  -st-mixin: CoreEllipsedTooltip, Tooltip;
}

/* This is needed in oreder to apply the backoffice tooltip styles of this class */
.root .tooltipContent {}
