@import '../common.scss';

$rootPadding: 24px;
$rootBackgroundColor: $D80;
$dayHoverColor: $B50;
$calendarWidth: 300px;
$dayBadgeSize: 36px;
$boxShadowWidth: 3px;
$hoverBoxShadow: 0 0 0 $boxShadowWidth $F00;

@mixin todayShadow($additionalShadow: false) {
  $boxShadow: 0 0 0 $boxShadowWidth $rootBackgroundColor inset;
  @if $additionalShadow {
    box-shadow: $boxShadow, $additionalShadow;
  } @else {
    box-shadow: $boxShadow;
  }
}

.calendar :global .DayPicker {
  width: $calendarWidth;
  @include FontLight;
  font-size: 14px;
  line-height: 1.29;
  color: $D40;
  background-color: $D80;

  abbr {
    text-decoration: none;
  }

  &-Weekdays {
    background-color: $D80;
    padding: 0 $rootPadding;
  }

  &-WeekdaysRow {
    display: flex;
    align-items: center;
    justify-content: space-around;
  }

  &-Body {
    padding: 0 $rootPadding $rootPadding;
  }

  &-Weekday {
    width: 17px;
    padding: 18px 0 12px;
    color: $D10;
  }

  &-Week {
    display: flex;
    justify-content: space-around;
  }

  &-Day {
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
    width: $dayBadgeSize;
    height: $dayBadgeSize;
    border-radius: 50%;
    cursor: pointer;
    color: $D10;
    z-index: 1;
    position: relative;

    &:focus {
      outline: none;
      box-shadow: $hoverBoxShadow;
      z-index: 10;

      &:after {
        position: absolute;
        top: 0px;
        bottom: 0px;
        left: 0px;
        right: 0px;
        border-radius: 50%;
        //border: 3px solid #aadbfc;
        box-shadow: 0 0 0 3px #aabdfc;
        content: " ";
        display: block;
        z-index: 11;
      }

/*      .selectedBackground {
        background: transparent;
      }*/
    }

    &.DayPicker-Day--unfocused,
    &:focus:hover {
      box-shadow: none;
    }

    &--today:not(.DayPicker-Day--selected):not(:hover) {
      background-color: $D70;
      @include todayShadow();
      z-index: 0;

      &:focus {
        @include todayShadow($hoverBoxShadow);
      }
    }

    &:hover {
      background-color: $B50;
    }

    &--selected {
      background-color: $B10;
      color: $D80;
      &:hover {
        background-color: $B20;
      }
    }

    &--disabled {
      pointer-events: none;
      color: $D55;
    }

    &.DayPicker-Day--selected:not(.DayPicker-Day--start):not(.DayPicker-Day--end):not(.DayPicker-Day--outside) {
      background-color: $B50 !important;
      border-radius: 0px !important;
      box-shadow: none;
      color: $D10;
    }
    &.DayPicker-Day--selected:not(.DayPicker-Day--start):not(.DayPicker-Day--end):not(.DayPicker-Day--outside):last-of-type {
      border-top-right-radius: 50% !important;
      border-bottom-right-radius: 50% !important;
    }
    &.DayPicker-Day--selected:not(.DayPicker-Day--start):not(.DayPicker-Day--end):not(.DayPicker-Day--outside):first-of-type {
      border-top-left-radius: 50% !important;
      border-bottom-left-radius: 50% !important;
    }
    &.DayPicker-Day--firstOfMonth:not(.DayPicker-Day--start):not(.DayPicker-Day--end):not(.DayPicker-Day--outside) {
      border-top-left-radius: 50% !important;
      border-bottom-left-radius: 50% !important;
    }
    &.DayPicker-Day--lastOfMonth:not(.DayPicker-Day--start):not(.DayPicker-Day--end):not(.DayPicker-Day--outside) {
      border-top-right-radius: 50% !important;
      border-bottom-right-radius: 50% !important;
    }

    &.DayPicker-Day--singleDay:not(.DayPicker-Day--start):not(.DayPicker-Day--end):not(.DayPicker-Day--outside) {
      border-radius: 50% !important;
    }
  
    &.DayPicker-Day--selected.DayPicker-Day--start:not(.DayPicker-Day--outside),
    &.DayPicker-Day--selected.DayPicker-Day--end:not(.DayPicker-Day--outside) {

      .circle {
        background-color: #3899ec !important;
        border-radius: 50% !important;
        color: #FFFFFF;
        z-index: 2;
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        right: 0;
        text-align: center;
        line-height: 36px;
      }

      .startBackground {
        position: absolute;
        background: linear-gradient(to left, $B50 0%,$B50 50%,#000000 50%,transparent 50%,transparent 100%); /* W3C */
        width: 100%;
        height: 100%;
        top: 0;
        right: 0;
        z-index: 1;
      }
      
      .endBackground {
        position: absolute;
        background: linear-gradient(to right, $B50 0%,$B50 50%,#000000 50%,transparent 50%,transparent 100%); /* W3C */
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        z-index: 1;
      }
      
      position: relative;
    }

    &--outside {
      pointer-events: none;
      color: transparent !important;
      background-color: transparent !important;
    }
  }

  &--TwoMonths {
    .DayPicker-Months {
      display: flex;

      .DayPicker-Month:first-child .DayPicker-Nav--Right,
      .DayPicker-Month:last-child .DayPicker-Nav--Left {
        visibility: hidden;
      }
    }

    .DayPicker-Day--outside {
      visibility: hidden;
    }
  }
}
