$row-sides-padding: 30px;
$row-top-padding: 24px;
$moreLessPosition: 30px;
$moreLess-height: 30px;
$icon-accordion-padding: 24px;
.root {
  text-align: center;

  .rowWrapper:not(:last-child) {
    border-bottom: 1px solid #dfe5eb;
    background-color: white;
  }

  .rowWrapper {
    background-color: white;
  }

}
