@import '../../src/common.scss';

.example {
  background-color: $D60;
  margin: 50px;
  padding: 20px;
  min-width: 874;
  max-width: 1234px;
}

.previewWrapper {
  display: block;
  padding: 16px;
  background-color: white;
}

.previewWrapper:hover {
  background-color: $B50;
}
