@import '../common.scss';

/* === Empty state === */
.emptyStateContainer {
  padding: 42px;
  border-top: 1px solid $D60;
}

/* === Backgground color on hover === */
tr.rowHover {
  cursor: pointer;
}

tr.rowHover:hover {
  background-color: $B50;
}

