@import '../../common.scss';

.toggleButtons {
  position: relative;
  display: flex;
  justify-content: flex-end;

  .button,
  .expand-collapse-arrow {
    position: absolute;
    transition: all .2s;
  }

  .expand-collapse-arrow {
    opacity: 1;
    padding-right: 12px;
    padding-top: 5px;
    fill: $B10;
  }

  .button {
    pointer-events: none;

    &.active {
      pointer-events: inherit;
    }
  }

  &.expend,
  &.open,
  &:hover {
    .expand-collapse-arrow {
      opacity: 0;
    }
  }

}
