@import '../../common.scss';
$row-sides-padding: 30px;
$row-top-padding: 24px;
$icon-accordion-padding: 24px;
$moreLessPosition: 30px;
$moreLess-height: 30px;

.collapse,
.item {
  display: flex;
  align-items: flex-start;
}

.wrapper {
  position: relative;
}

.item {
  padding: $row-top-padding $row-sides-padding;
  width: calc(100% - #{$row-sides-padding * 2});
  transition: background-color .3s;

  &:hover {
    background-color: $B40;
  }
}

.headerInfo {
  display: flex;
  align-items: center;
}

.headerIcon {
  margin-right: $icon-accordion-padding;
}

.collapse {
  align-items: flex-start;
  flex-direction: column;
  padding: 6px 30px 90px 78px;
}

.moreLessButton {
  position: absolute;
  right: $row-sides-padding;
  bottom: 18px;
  height: $moreLess-height;
  transition: bottom .2s;

  &.open {
    bottom: $moreLessPosition;
  }
}
